<%= form_with(model:@movie) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Add your favorite move..." %>
    <%= f.text_area :comment, placeholder: "Add new comment..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary"%>
<% end %>